<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/layout::header(#{APP.NAME})">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <table>
            <tr>
                <td>账号：</td>
                <td><input></td>
            </tr>
            <tr><td>密码：</td>
            <td><input></td></tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>

                </td>
                <td><a href="#" class="easyui-linkbutton">添加</a> </td>
            </tr>
        </table>
    </form>
</body>
</html>