<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/layout::header(#{APP.NAME})">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div id="adminList" class="easyui-datagrid"></div>
<script th:inline="javascript">
    var loadAdminList=/*[[@{/admin/list}]]*/;
</script>
<script>
    $(function(){
       $("#adminList").datagrid({
           columns:[
               [
               {field:'userName',title:'账号'},
               {field:'userStatus',title:'状态'}
           ]
           ],
           url:loadAdminList,
           method:'post',
           onLoadSuccess:function(data){
               alert(JSON.stringify(data));
           }
       }) ;
    });
</script>
</body>
</html>