<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/easyui/themes/default/easyui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/easyui/themes/icon.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/easyui/themes/color.css}" />
    <script language="JavaScript" th:src="@{/js/easyui/jquery.min.js}"></script>
    <script language="JavaScript" th:src="@{/js/easyui/jquery.easyui.min.js}"></script>


</head>
<body>

</body>
</html>